{% extends 'base.html' %}

{% block content_title %}
    Post
{% endblock content_title %}

{% block title %}
    {{ post.title }}
{% endblock title %}

{% block content %}

    <p>{{ post.content }}</p>

    <hr>
    <h3>Comentarios</h3>

    {% if comments %}
    {% for comment in comments %}
        <div>
            <strong>{{ comment.author }}</strong> - {{ comment.date }}
            <p>{{ comment.content }}</p>
        </div>
    {% endfor %}
    {% else %}
        <p>No hay comentarios aún.</p>
    {% endif %}

    <hr>
    <h4>Dejar un comentario</h4>

    {% if user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
         <button type="submit">Publicar comentario</button>
        </form>
    {% else %}
         <p>
            <a href="{% url 'user:login' %}?next={{ request.path }}">Inicia sesión para comentar</a>.
        </p>
    {% endif %}

{% endblock %}