{% extends 'base.html' %}

{% block content_title %}
    Inicio
{% endblock content_title %}

{% block title %}
    Proyecto
{% endblock title %}

{% block content %}

    <div>
        <img style="width: 100%; height: 50hv; margin-top: 10hv;"
            src="https://fastly.picsum.photos/id/8/5000/3333.jpg?hmac=OeG5ufhPYQBd6Rx1TAldAuF92lhCzAhKQKttGfawWuA" alt="">
    </div>

    <h2>Publicaciones recientes</h2>
    {% include 'shared/post_list_component.html' %}

    <h2>Categorías disponibles</h2>
    {% include 'shared/category_list_component.html' %}
    
{% endblock content %}